body  {
  background: rgb(6, 190, 225, 0.2);
  color: rgb(10, 10, 10);
  font-family: Helvetica;
}

h1 {
  font-family: Courier;
  font-size: 50px;
  color: rgb(191, 49, 0);
}

h2 {
  font-size: 18px;
}

a {
  text-decoration: none;
  color: blue;
}